body{
    margin: 0;
    padding:0;
}
.mainNav{
    height: 30px;
    z-index: 1;
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: rgb(161,209,224,0.6);
    overflow: hidden;
    margin: 0px 0px;
    padding-left: 20px;
    padding-right: 0px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.backbutton{
    background-color: transparent;
    border: none;
    position: absolute;
    left: 1%;
    top: 2.8%;
    cursor: pointer;
}

.sellform{
    position: absolute;
    top: 5%;
    margin-top: 20px;
    display: block;
}

.websiteName{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    top: 2%;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left:7%;
    height:100%;
}

label{
    padding: 15px;
    padding-left: 30px;
    font-size: 18px;
    font-family:'Open Sans', sans-serif;
}

input[type=text]{
    letter-spacing: 0.7px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 30%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.7)
}

input[type=text]:focus {
    border: 2px solid rgba(0, 0, 0, 0.9)
}

input[type=number]{
    letter-spacing: 0.7px;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    width: 25%;
    height: 35px;
    margin-top: 15px;
    margin-bottom: 25px;
    margin-left: 30px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.7)
}

input[type=number]:focus {
    border: 2px solid rgba(0, 0, 0, 0.9)
}

input[type=radio]{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 2px;
    size: 45px;
}

input[type=submit]{
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px;
    left: 10%;
    height: 45px;
    width:160px;
    padding:10px;
    border: none;
    border-radius:25px;
    box-shadow: none;
    margin-top: 20px;
    background-color: rgb(161,209,224,1);
    cursor: pointer;
}