@font-face {
    font-family: Roboto-Slab-Regular;
    src: url(fonts/RobotoSlab-Regular.ttf);
}

@font-face {
    font-family: Roboto-Slab-Thin;
    src: url(fonts/RobotoSlab-Thin.ttf);
}

@font-face {
    font-family: Roboto-Slab-Light;
    src: url(fonts/RobotoSlab-Light.ttf);
}

@font-face {
    font-family: Roboto-Slab-Medium;
    src: url(fonts/RobotoSlab-Medium.ttf);
}

@font-face {
    font-family: Roboto-Slab-Black;
    src: url(fonts/RobotoSlab-Black.ttf);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body{
    margin: 0;
    padding:0;
}
.navbar{
    margin:0;
    height:15vh;
    background-color: rgb(161,209,224,0.6);
}
.mainNav{
    height: 80px;
    display:flex;
    width:100vw;
    position: absolute;
    top:7%;
    right:0;
    left:0;
    justify-content: center;
    align-items: center;
}
.account>img{
    height:25px;
    width:25px;
    flex:1;
    border-radius:100% ;
}
.websiteName{
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    left:3%;
    height:100%;

}

.dp{
 position: absolute;
 right:30px;
 display: flex;;
 font-size:1.5rem;
 justify-content: center;
 align-items: center;
}

.user{
    font-size: 15px;
    padding-left: 7px;
    padding-right: 10px;
}

.btnn{
    position:absolute;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0.8px;
    right:18%;
    height: 45px;
    width:105px;
    padding:10px;
    border: none;
    border-radius:40px;
    box-shadow: none;
    background-color: rgb(161,209,224,1);
    cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.4; /* Firefox */
}

.fa-search {
    color: rgba(161,209,224,0.9);
}

form.example input[type=text] {
    height: 31px;
    width: 400px;
    float: left;
    padding: 2px;
    border: 1px solid rgba(100,100,100,0.4);
    margin-top: 0px;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

form.example button {
    padding-bottom: 2.5px;
    float: right;
    width: 33px;
    height: 31px;
    background: black;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
  }
  
form.example button:hover {
    background: #0b7dda;
}

form.example::after {
    content: "";
    clear: both;
    display: table;
}

.cost{
    display: flex;
    flex-direction: column;
    margin:40px 0 40px 10px;
}
.form-range{
    width:100%;
}
#minimum,#maximum{
    width:90px;
    border-radius: 15px;
    background-color: whitesmoke;
}
.conmin,.conmax{
    display: inline-block;
    margin:9px;
}
.colleges{
    
    display: flex;
    flex-direction: column;
    margin :40px 0  40px 0;
   
}
.constraints{
    height:70vh;
    width:20%;
    border-right:2px solid gray;
}

hr.filter{
    border: 0.5px solid rgba(100,100,100,0.4);
}

h2{
    font-family: 'Open Sans',sans-serif;
    font-size: 20px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 0px;
}
.c1,.c2,.c3{
    margin:10px 10px 10px 5px;
    font-size: 0.9rem;
    justify-content: center;
    align-items: center;
}
.c1{
    display: flex;
    
}
.c1>input{
    margin-top: 2px;
    height: 20px;
    width:20px;
 
}
.c2>input{
    margin-top: 2px;
    height: 20px;
    width:20px;
 
}

.c3>input{
    margin-top: 2px;
    height: 20px;
    width:20px;
 
}
.c1>label{
    
    margin-left: 7px;
}
.c2>label{
    margin-left: 7px;
}
.c3>label{
  
    margin-left: 7px;
    margin-bottom: 8px;
}
.content{
    display: flex;
}
.product{
    display: flex;
    flex-direction: column;
}
.description{
    background-color: whitesmoke;
    margin: 10px;
    display: flex;
    width:900px;
    
}
.info{
    width:400px;
    border-right:2px solid lightgray;
}
.description>img{
    margin: 10px;
    padding:10px;
    height:200px;
    width:200px
}
.info{
    font-weight: bold;
    padding:40px;
    
}
.seller{
    padding:40px;
}
h6{
    margin:10px;
}
.tags{
    padding:5px;
    border:1px solid black;
    border-radius:3px;
    background-color: rgb(216, 208, 208);
}

